@import url('http://7xi3jm.com1.z0.glb.clouddn.com/fonts.css');

div.nav {
	z-index: 1;
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.nav-pills>li>a {
	border-radius: 0;
}
.nav a {
	color: #fff;
	text-transform: uppercase;
}
.nav a:hover {
	color: #23527c;
}

/* main jumbotron */
.main h1 {
	font-size: 48px;
	font-weight: bold;
	font-family: 'Shift', Helvetica, Arial, Sans-serif;
	text-shadow: rgba(0, 30, 84, .3) 0 -0.1em 0.1em;
	color: #fff;
}
.main p {
	color: #fff;
	text-shadow: rgba(0, 30, 84, .5) 0.1em -0.1em 0.1em;
}
.main {
	position: relative;
	background-image: url('http://7xi3jm.com1.z0.glb.clouddn.com/images/double-alaskan-rainbow.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 20%;
}
.main .container {
	height: 400px;
	position: relative;
	top: 100px;
}

.main, .about, .contact {
	border-bottom: 1px solid #e5e5e5;
}

/* about */
.about .container {
	width: 60%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}
.about p {
	font-size: 20px;
}
.progress-bar {
	text-shadow: #555 1px 1px 1px;
}
/*.lead {
	margin: auto;
	width: 60%;
}*/
/* contact */
.contact .container {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}
.contact .col-md-4 {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
/*.contact .col-md-4:first-child {
	border-left: none;
}*/
.contact p {
	font-size: 20px;
}
.contact img {
	display: block;
	margin: auto;
	vertical-align: middle;
}

/* footer */
.footer {
	clear: both;
	margin-top: 20px;
}